@tailwind base;
@tailwind components;
@tailwind utilities;
.container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.p1{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
    background:  gray;
    border-radius: 8px;
  }